.commerce-goal-bar {
    height: 20px;
    width: 100%;
    background-color: #eee;
}
.commerce-goal-bar .commerce-goal-complete {
    height: 20px;
    background-color: #d00;
}
.commerce-goal-current .commerce-goal-percent,
.commerce-goal-current .commerce-goal-total {
    width: 45%;
    display: inline-block;
}
.commerce-goal-current .commerce-goal-percent {
    float: right;
    text-align: right;
}
